@keyframes animationSlides {
    from{
        opacity: 0.1;
    }
    to{

        opacity: 1;
    }
}

@keyframes click {
    from{
        transform: scale(1);
    }

    to{
        transform: scale(1.2);
    }
}